# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*


# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl
.terraform/

deploy-micsvc-in-eks.yaml
backend.tf